name: PR author auto assign

on:
  pull_request:
    types: [opened, reopened, ready_for_review]

permissions:
  pull-requests: write

jobs:
  assign:
    name: PR author auto assign
    runs-on: ubuntu-slim
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
      - uses: toshimaru/auto-author-assign@v3.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
