name: "Lint PullRequest title"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

jobs:
  lint:
    name: Conventional PR title
    runs-on: ubuntu-slim
    steps:
      - uses: amannn/action-semantic-pull-request@v6.1.1
        with:
          requireScope: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
